<?= $header; ?>
<main class="main not-found-page">
    <div class="row header-space"></div>
    <div class="row pad-ver-large">
        <div class="wrapper">
            <div class="row pad-top-large">
                <h1 class="heading-large">Oops, we couldnt find the "<?= $url; ?>" page.</h1>
            </div>
        </div>
    </div>
</main>
<?= $footer; ?>