<?= $header; ?>
<main class="main sitemap-page">
    <div class="row header-space"></div>
    <div class="row pad-top-large pad-bottom-large sitemap">
        <div class="wrapper">
            <h1 class="heading-large">Site Map</h1>
            <hr class="row space-top-small space-bottom-small">
            <div class="row">
                <ul class="list-unstyled">
                    <?php foreach ($pages as $p): ?>
                    <li><a href="<?= $p['route']; ?>"><?= $p['route_name']; ?></a></li>
                    <?php endforeach ?>
                </ul>
            </div>
        </div>
    </div>
</main>
<?= $footer; ?>