<?= $header; ?>
<div class="row row header-space"></div>
<main class="main repair-page service-page bkg-white">
    <div class="row pad-top-large pad-bottom-large">
        <div class="wrapper">
            <div class="col dual">
                <h1 class="text-blue">Computer Repair for Mac &amp; PC</h1>
                <p>Computers are prone to breaking. There are many small problems, physical and virtual that can turn into large problems later. 
                    We offer stress free repairs and <a href="#upgrades" class="pc-repair-link">upgrades</a> on all brands of laptops and desktop computers including Macs. We can
                    also <a href="#customs" class="pc-repair-link">build a custom PC just for you</a>.</p>
            </div>
            <div class="col dual">
                <img src="/application/storage/images/services-computer-repair2.png" alt="Computer Repair" class="row">
            </div>
        </div>
        <div class="arrow-wrapper"><div class="arrow bkg-white"></div></div>
    </div>
    <div class="row pad-top-large pad-bottom-large bkg-blue text-white">
        <div class="wrapper">
            <div class="row pad-top-medium pad-bottom-medium">
                <div class="col dual">
                    <h2 class="heading-small">In-shop</h2>
                    <h3 class="pad-bottom-small">Flat Rate Repair</h3>
                    <p class="pad-bottom-small">Our in-shop flat labor rate is $99. We don't charge you for the diagnostic and then charge you again for the repair.
                        We also do general maintenance and clean up your system. While keeping all your important documents and irreplaceable data safe.</p>
                    <em class="pad-bottom-small">(Parts not included)</em>
                </div>
                <div class="col dual">
                    <h2 class="heading-small">On-site</h2>
                    <h3 class="pad-bottom-small">Island Wide!</h3>
                    <p class="pad-bottom-small">Our experienced technicians can get you an answer for your problem and options to fix it fast. One flat hourly rate no separate or hidden charges.
                        We wont charge you for travel time, pick up or delivery. So give us a try and we'll give you quick results with lots of aloha.</p>
                    <em class="pad-bottom-small">(Parts not included)</em> <em>(1 hour minimum)</em>
                </div>
            </div>
        </div>
    </div>
    <div class="row pad-top-large pad-bottom-large">
        <div class="wrapper">
            <div class="col dual">
                <img src="/application/storage/images/services-computer-repair4.png" alt="Virus Removal" class="row">
            </div>
            <div class="col dual">
                <h4 class="pad-bottom-small heading-small text-red">Spyware &amp; Malware Removal</h4>
                <p>Having problems with some form of malware, spyware, virus or potentially unwanted program.</p>
                <div class="blueBox">
                    <em>What you should do...</em>
                    <p>Disconnect your computer from the internet. Connecting to the internet while infected my cause more problems.</p>
                </div>
                <hr class="basic space-top-small space-bottom-small">
                <p><a href="/contact">Contact Us</a> before it harms your computer or steals your data.</p>
            </div>
        </div>
    </div>
    <div class="row pad-top-large pad-bottom-large bkg-beige">
        <div class="wrapper">
            <div class="row">
                <h2 class="pad-bottom-small heading-small text-red">Hard Drive Failure?</h2>
                <p>If you are getting a lot of freezing/crashing or the <a href="http://en.wikipedia.org/wiki/Blue_Screen_of_Death" target="blank_">BSoD</a>. 
                This indicates that your hard drive may failing. If this is the case your data is at risk. You should actually stop using the hard drive or computer 
                and <a href="/contact">contact us</a> immediately. Ongoing use of the drive can make <a href="/services/data_recovery" id="upgrades"> 
                data recovery</a> more difficult.</p>
                <hr class="basic space-top-small space-bottom-small">
                <a class="btn btn-default pull-right" href="/services/data_recovery">Data Recovery</a> <a class="btn btn-default pull-right" href="/services/managed-backup">Backup Service</a>
            </div>  
        </div>
    </div>
    <div class="row pad-top-large pad-bottom-large">
        <div class="wrapper">
            <div class="content">
                <h4 class="text-blue heading-small">Upgrades and Installations</h4>
                <hr class="basic space-top-small space-bottom-small">
                <div class="col dual">
                    <p>Is your computer slow and not performing well? Just want to make an upgrade? We can handle everything from ordering your parts to installing them. If you ask us we
                    will handle everything from beginning to end. All you have to do is kick back, relax and wait for your parts to be installed. <strong>Most upgrades can be done
                    in under an hour</strong> once we have the parts.</p>
                </div>
                <div class="col dual">
                    <img src="/application/storage/images/services_computer_repair.png" alt="Computer Repair" class="row">
                </div>
                <div id="customs"></div>
            </div>
        </div>
    </div>
    <div class="row pad-top-large pad-bottom-large">
        <div class="wrapper">
            <div class="col dual">
                <img src="/application/storage/images/services-computer-repair3.png" alt="Computer Repair" class="row">
            </div>
            <div class="col dual">
                <h3 class="text-blue heading-small">Custom and Gaming PCs</h3>
                <hr class="basic space-top-small space-bottom-small">
                <p class="pad-bottom-small">We can create a custom computer suited to your gaming, travel, business or family PC needs. Our professional expertise and extensive customization services 
                guarantees that you will have a PC, laptop, netbook or tablet perfectly suited to your computer experience.</p>
                <p class="pad-bottom-small">Your new custom computer is all about you. That's why we will not only install any software that you bring in, we will also transfer all the data from your 
                old computer to your new one. We will work hard to ensure that your new machine is optimized for top performance</p>
                <a href="contact" class="btn btn-default pull-left">Contact Us</a>
            </div>
        </div>
    </div>
</main>
<script type="text/javascript">

    $('.pc-repair-link').click(function() {
        $('html, body').animate({
            scrollTop: $( $.attr(this, 'href') ).offset().top
        }, 500);
        return false;
    });

</script>
<?= $footer; ?>