<?= $header; ?>
<main class="main data-recovery-page service-page">
    <div class="row large-page-greeting">
        <script type="text/javascript">commonJS.moveBkg();</script>
        <div class="data-recovery-bkg bkg-scroll"></div>
        <div class="wrapper">
            <div class="large-page-greeting-text text-white text-center">
                <h1>DATA RECOVERY</h1>
            </div>
        </div>
    </div>
    <div class="row pad-top-large pad-bottom-small bkg-beige">
        <div class="wrapper">
            <div class="row">
                <h2 class="pad-bottom-small heading-medium text-blue">Fast, Professional and Affordable Data Recovery Solutions</h2>
                <p class="pad-bottom-small">At Tech Source, we understand that losing your files and photos can be devastating. We want to help the residents of the Hawaii get their data back, FAST! Tech Source offers professional, 
                fast, and economical data recovery services for businesses and individuals who experience data loss because of hard drive failures, software corruption, human errors, or even natural disasters.
                If we can't get your data back, no charge.</p>
            </div>
            <div class="row pad-top-small pad-bottom-small recovery-levels">
                <div class="col triple bkg-blue small text-white">
                    <h3 class="pad-bottom-small">Level 1</h3>
                    <strong>$300.00</strong>
                    <p class="text-small">Typical data recovery usually done with software. This is the best solution for most cases, like when someone has accidentally deleted files or software has become corrupt.</p>
                </div>
                <div class="col triple bkg-blue small text-white">
                    <h3 class="pad-bottom-small">Level 2</h3>
                    <strong>$600.00</strong>
                    <p class="text-small">Sometimes a drive failure is not just software related. The storage device will need to be repaired at a hardware level and parts will need to be fixed / replaced.</p>
                </div>
                <div class="col triple bkg-blue text-white">
                    <h3 class="pad-bottom-small small">Level 3</h3>
                    <strong>Costs Vary</strong>
                    <p class="text-small">When a storage device has been badly damaged or the data is extremely valuable, the drive is sent to a clean room where special equipment is used to recover data.</p>
                </div>
            </div>
        </div>
        <div class="arrow-wrapper"><div class="arrow beige"></div></div>
    </div>
    <div class="row pad-top-large pad-bottom-large bkg-white">
        <div class="wrapper">
            <div class="col dual">
                <h4 class="text-red heading-small">Signs of a failing drive</h4>
                <hr class="basic space-top-small space-bottom-small">
                <ul class="list-style-check">
                    <li>Constant clicking noise coming from computer</li>
                    <li>Buzzing or grinding noise coming from computer</li>
                    <li>Constant quiet beeping noises coming from the computer</li>
                    <li>Computer locks up, unable to move your mouse</li>
                    <li>Computer displays SMART error, hard drive failure detected please backup and replace hard drive </li>
                    <li>Blue screen of death</li>
                    <li>Clicking on hard drive within My Computer freezes your computer or crashes your computer</li>
                    <li>Extreme sluggishness on your computer, things that normally take a few seconds can take minutes even hours</li>
                </ul>
                <hr class="basic space-top-small space-bottom-small">
                <a href="/contact" class="btn btn-default pull-right">Contact Us</a>
            </div>
            <div class="col dual">
                <h4 class="pad-bottom-small heading-small text-red">If you encounter these signs...</h4>
                <p class="pad-bottom-small">If you encounter any of these signs, you should stop using the computer or drive. Continued use can make data recovery more difficult.</p>
                <img src="/application/storage/images/services_data_recovery2.png" alt="If your hard drive is failing" class="row">
            </div>
        </div>
    </div>
</main>
<?= $footer; ?>