<?= $header; ?>
<div class="row header-space"></div>
<main class="main help-desk-page service-page bkg-white">
    <div class="row pad-top-large pad-bottom-large bkg-beige">
        <div class="wrapper">
            <h1 class="pad-bottom-small text-blue">Help Desk</h1>
            <p>Full remote support, 24/7. On-site work when you need it. One flat rate.</p>
            <p>We tailor our solutions to match your needs, plus if you bundle the help desk with our other services, you may recieve discounts of up to 50%. 
            <a href="/contact">Contact us today</a> to learn more.</p>
        </div>  
    </div>
    <div class="row pad-top-large pad-bottom-large">
        <div class="wrapper">
            <div class="row pad-top-large help-desk-service">
                <div class="col dual">
                    <h3 class="pad-bottom-small heading-small">Tech Source Help Desk</h3>
                    <ul class="list-style-check">
                        <li><strong>Flat Rate</strong> - One flat rate every month, no more surprises.</li>
                        <li><strong>Parts</strong> - We replace computer parts as part of the deal.</li>
                        <li><strong>Remote Support</strong> - You get 24/7 remote support.</li>
                        <li><strong>Quick Response</strong> - Response times under 3 hours.</li>
                    </ul>
                    <hr class="basic space-top-small space-bottom-small">
                    <a class="btn btn-default pull-left" href="/contact">Contact Us</a>
                </div>
                <div class="col dual">
                    <img class="lifesaver" src="/application/storage/images/services_help_desk2.png" alt="help desk picture" class="row">
                </div>
            </div>
            <div class="col pad-top-large help-desk-service">
                <div class="col dual">
                    <img src="/application/storage/images/services_help_desk.png" alt="Help Desk" class="row">
                </div>
                <div class="col dual">
                    <h2 class="pad-bottom-small heading-small">We want to be your tech support</h2>
                    <p class="pad-bottom-small">Tech Source provides many products that require many skills and a lot of experience. Dealing with viruses and spyware or fixing various computer problems is what we went into business to fix. We've learned a lot in the interim and discovered that it can be hard for your company to repeatedly call in the calvary whenever computers go down and then foot the large repair bills. Too often IT expenses are unexpectedly large whenever you move people's desks around or open a new office space. We want to change that. We'd like to be your help desk.</p>
                </div>
            </div>
        </div>
    </div>
</main>
<?= $footer; ?>