<?= $header; ?>
<div class="row header-space"></div>
<main class="main managed-backup-page service-page bkg-white">
    <div class="row pad-top-large pad-bottom-large bkg-beige text-center">
        <div class="wrapper">
            <div class="row">
                <h1 class="pad-bottom-small text-blue">Managed and Off-site Backup</h1>
                <p>In the digital age we save quite a bit of information on our computers, hard drives, thumb drives, ect. Losing that data and going in for <a href="/services/data_recovery">data recovery</a> 
                can really suck. We know personally that having secure and up to date backups can be a lifesaver.</p>
            </div>
            <div class="arrow-wrapper"><div class="arrow bkg-beige"></div></div>
        </div>
    </div>
    <div class="row pad-top-large pad-bottom-small">
        <div class="wrapper">
            <div class="backup-highlights">
                <div class="col triple">
                    <img src="/application/storage/images/backup1.png" alt="Unlimited History" class="row pad-bottom-medium">
                    <h2 class="pad-top-medium pad-bottom-medium text-blue text-center">Unlimited History</h2>
                    <p>We have a uniquely powerful backup solution that is also surprisingly affordable. Our backup solution backs up your data not just once a day but <strong>every 15 minutes</strong> so your data is always
                    up to date. additionally we can give you <strong>unlimited history</strong> providing backups all the way back to the first day.</p>
                </div>
                <div class="col triple">
                    <img src="/application/storage/images/backup2.png" alt="Secure Backups" class="row pad-bottom-medium">
                    <h2 class="pad-top-medium pad-bottom-medium text-blue text-center">Integrity Checks</h2>
                    <p>When you take advantage of our backup service your backups are monitored for frequency and integrity making sure you get <strong>full backups every time</strong>. We keep your data safe and available to you
                        through the cloud. Keep your data secure and leave worry behind with Tech Source managed backups.</p>
                </div>
                <div class="col triple">
                    <img src="/application/storage/images/backup3.png" alt="Emergency Deliveries" class="row pad-bottom-medium">
                    <h2 class="pad-top-medium pad-bottom-medium text-blue text-center">Emergency Delivery</h2>
                    <p>Loss of data because of physical problems, virtual problems or even natural disasters. If the worst should happen and the backups are too large to download via the cloud quickly, we have the solution. 
                    <strong>Emergency delivery of physical drives to get your life and business back on track</strong>.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row pad-bottom-large">
        <div class="wrapper">
            <hr class="basic space-top-small space-bottom-large">
            <div class="row">
                <div class="col dual backup">
                    <img src="/application/storage/images/services-offsite-backup.png" alt="Fleetsafe Backup" class="row">
                </div>
                <div class="col dual">
                    <ul class="list-style-check">
                        <li>Backup as many computers as you want</li>
                        <li>Off-site storage with unlimited history</li>
                        <li>Works over any internet connection</li>
                        <li>Emergency delivery of physical disks</li>
                        <li>Advanced deduplication techniques make fast full backups every time.</li>
                        <li>Fully encrypted</li>
                    </ul>
                    <hr class="basic space-top-small space-bottom-small">
                    <a class="btn btn-default pull-right" href="/contact">Get a Quote</a>
                </div>
            </div>
            <hr class="basic space-top-small space-bottom-small">
        </div>
    </div>
</main>
<?= $footer; ?>