<?= $header; ?>
<div class="row header-space"></div>
<main class="main network-install-page service-page bkg-white">
    <div class="row pad-top-large pad-bottom-large">
        <div class="wrapper">
            <div class="row cabling">
                <h2 class="text-blue heading-small">Network Installation &amp; Administration</h2>
                <hr class="basic space-top-small space-bottom-small">
                <img src="/application/storage/images/services-network-installations2.jpg" alt="Distrobution Frame">
                <p><strong>Designing</strong> a network can be challenging. The technicians at Tech Source have done a plethora of network installations for Hawaii's business and residents. Our experience 
                has made us experts in network design, implementation and management. We take away the challenge and design your network to work efficiently and be aesthetically pleasing.</p>
                <p>Then comes the challenge of <strong>implementing</strong> your network. How do the offices out in the North Shore connect back to town? 
                Are you hosting your own email and website internally or externally? Can you create a single wireless network to cover a series of warehouse buildings? 
                We help you get the right equipment and price for your company. We also help you configure them and tie your offices together through our data center.</p>
                <p>Last is the task of <strong>managing</strong> a network. Your in-office wiring should never be hanging out of a ceiling panel or run along the floor. You should not be losing connection to
                the server or have trouble sending and receiving emails everyday. We can help you with the nuts and bolts part of the networking.</p>
                <p>We'd like to be your network tech support. You can make an appointment or <a href="/contact">request a quote</a> for everything from a single wire run to a 
                full office deployment. Tech Source has done all kinds of network installations, from personal homes to large scale retail stores like Shirokiya at Ala Moana and we'd like to work with you next.</p>
                <hr class="basic space-top-small space-bottom-small">
                <a href="/contact" class="btn btn-default pull-right">Contact Us</a>
            </div>
        </div>
    </div>
    <div class="row pad-top-large pad-bottom-large bkg-blue text-white">
        <div class="wrapper">
            <div class="row">
                <h3 class="pad-bottom-small heading-small text-yellow">Lightwire Fiber Optic Internet</h3>
                <p class="pad-bottom-small">Lightwire is our Fiber to the Premises (FttP) solution. 
                We bring fiber directly to your building and suite and convert to ethernet at the last few feet so that you do not need to buy any adapters or modems. 
                You may select a transmission speed from 10Mbit/s all the way to 1Gbits. 
                This is one of the only connections you could choose that is fully synchronous - you get the same upstream bandwidth as well as downstream.
                Lightwire is most appropriate for businesses that want raw internet speed, those that host their own in-house servers, 
                those that want private point to point connections between offices or that want to use advanced technologies like tele-presence, video conferencing and cloud computing.
                You may request a quote from us after filling out a short form, but we can give you a ballpark price immediately over the phone.</p>
                <p class="pad-bottom-small">Put aside your T1 or other connection and upgrade to dedicated fiber. 
                Your business deserves a connection that lets you leverage advanced technologies like virtualized servers, 
                full daily backups of your entire PC fleet and fantastic VoIP quality.</p>
            </div>
        </div>
        <div class="arrow-wrapper"><div class="arrow bkg-blue"></div></div>
    </div>
    <div class="row pad-top-large pad-bottom-large lightwire">
        <div class="wrapper">
            <div class="row pad-top-large pad-bottom-large">
                <div class="col triple compare-box">
                    <h4 class="pad-bottom-small heading-small">T1</h4>
                    <ul class="list-unstyled">
                        <li><span>Speed</span> 1.5Mbits</li>
                        <li><span>Static IPs</span> 1</li>
                        <li><span>VoIP Bundle</span> No</li>
                        <li><span>Free Install</span> No</li>
                        <li><span>Hardware</span> CSU/DSU</li>
                        <li><span>Contract</span> 1-3 Years</li>
                    </ul>
                </div> 
                <div class="col triple compare-box">
                    <h5 class="pad-bottom-small heading-small">Roadrunner</h5>
                    <ul class="list-unstyled">
                        <li><span>Speed</span> 7Down/2Up</li>
                        <li><span>Static IPs</span> 5</li>
                        <li><span>VoIP Bundle</span> No</li>
                        <li><span>Free Install</span> Yes</li>
                        <li><span>Hardware</span> Modem</li>
                        <li><span>Contract</span> None</li>
                    </ul>
                </div>
                <div class="col triple compare-box">
                    <h6 class="pad-bottom-small heading-small text-yellow">Lightwire</h6>
                    <ul class="list-unstyled">
                        <li><span>Speed</span> 10/100Mbits</li>
                        <li><span>Static IPs</span> Up to 16</li>
                        <li><span>VoIP Bundle</span> Yes</li>
                        <li><span>Free Install</span> Yes</li>
                        <li><span>Hardware</span> None</li>
                        <li><span>Contract</span> 2 Year</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>
<?= $footer; ?>