<?= $header; ?>
<div class="row header-space"></div>
<main class="main voip-page service-page bkg-white">
    <div class="row pad-top-large pad-bottom-large">
        <div class="wrapper">
            <div class="row">
                <div class="row">
                    <h1 class="pad-bottom-small text-blue">Digital Phone Service</h1>
                    <p>Traditional phone service can be a headache to order, move and maintain. With digital phones that use VoIP, <strong>many problems can be solved all at once</strong>.
                        If you are considering digital phones for your company, <a href="/contact">contacting us today to get a quote</a>.</p>
                    <hr class="basic space-top-small space-bottom-small">
                </div>
            </div>
            <div class="row">
                <div class="col dual">
                    <ul class="list-style-check">
                        <li>Voicemail and Fax to Email</li>
                        <li>4 Digit Extension Dialing for Inter-office</li>
                        <li>Direct Number for Each Phone</li>
                        <li>Take Your Phone Anywhere and Keep Your Number</li>
                        <li>Call Forwarding, DND, Hold Music, Call Parking</li>
                        <li>Conference rooms for multi-user conversations</li>
                        <li>Microsoft Outlook Integration</li>
                        <li>Virtual Extensions that Ring Cell Phones</li>
                    </ul>
                    <hr class="basic space-top-small space-bottom-small">
                    <a class="btn btn-default pull-left" href="/contact">Contact Us</a>
                </div>
                <div class="col dual">
                    <p class="pad-bottom-small">Keep your existing phone numbers and lose your phone company for something better. 
                        No more confusing bills, no more separate long distance fees, and no more feature by feature charging. This is phone services the way it should be.
                        Simple and worry free.</p>
                    <img src="/application/storage/images/services-voice-over-ip2.png" alt="VoIP" class="row">
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row pad-top-large">
        <div class="wrapper">
            <div class="row pad-bottom-large">
                <div class="col dual">
                    <h2 class="pad-bottom-small heading-medium text-blue">Virtual Business Phones</h2>
                    <h2 class="pad-bottom-small heading-small text-blue">4 Lines for $29.99</h2>
                    <p>Virtualize your office phone system. With Tech Sources virtual plans there is no need to purchase any office phones.
                        We can create a system that turns your cell phone into an office phone. One main number rings all the phones of your choosing.</p>
                </div>
                <div class="col dual">
                    <img src="/application/storage/images/services-voice-over-ip3.png" alt="Virtual Business Phones" class="row">
                </div>
                <div class="col dual">
                    <ul class="list-style-check">
                        <li><strong>Main phone number</strong> - One main number rings all the cell phones of your choosing. Virtualize your phone system with TCI.</li>
                        <li><strong>VBP Extensions</strong> - Virtual Business Phones give you the ability to dial extensions to reach other numbers on your plan.</li>
                    </ul>
                </div>
                <div class="col dual">
                    <ul class="list-style-check">
                        <li><strong>Voicemail/Fax to Email</strong> - Just because you don't have a traditional office doesn't mean you have to miss out on the features.
                            Using VBP you still get voicemail and fax to email service.</li>
                        <li><strong>Add 4 lines for only $29.99</strong> - Our simple plans allow your growing business to add new lines easily and affordably.</li>
                    </ul>
                </div>
            </div>
            <hr class="basic space-top-small space-bottom-small">
        </div>
    </div>
    <div class="row pad-top-large pad-bottom-large">
        <div class="wrapper">
            <div class="row">
                <div class="col dual">
                    <h3 class="pad-bottom-small heading-medium text-blue">Small &amp; Mid Size Business</h3>
                    <h3 class="pad-bottom-small heading-small text-blue">4 Lines for $160.00</h3>
                    <p>You can overcome your biggest hurdles with business phone service and more, from Tech Source. 
                        It’s easy to use, and astonishingly affordable. Compete against the big guys and win, with services that project an 
                        image as big as your ambitions.</p>
                </div>
                <div class="col dual">
                    <img src="/application/storage/images/services-voice-over-ip4.png" alt="Virtual Business Phones" class="row">
                </div>
                <div class="col dual">
                    <ul class="list-style-check">
                        <li><strong>T46G Yealink VoIP Phones</strong> - The SIP-T46G is Yealink latest revolutionary IP Phone for executive users and busy professionals.</li>
                        <li><strong>Dedicated DSL for high quality calls</strong> - We provide a dedicated line just for your phone calls. This means no amount of
                            downloading, streaming or internet surfing will ever negatively impact your calls.</li>
                        <li><strong>Includes all VoIP features</strong></li>
                    </ul>
                </div>
                <div class="col dual">
                    <ul class="list-style-check">
                        <li><strong>We provide and install everything</strong> - We handle everything from beginning to end, keeping you informed the whole way.
                            We'll even install the wires to accommodate your new phones.</li>
                        <li><strong>Add 4 Lines for $40.00</strong> - Our simple plans allow your growing business to add new lines easily and affordably.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>
<?= $footer; ?>