<?= $header; ?>
<div class="row header-space"></div>
<main class="main websites-page service-page bkg-white">
    <div class="row pad-top-small pad-bottom-large text-center">
        <div class="wrapper">
            <div class="row websites-top">
                <h1 class="pad-bottom-small text-blue"><em class="text-red">Modern,</em> <span class="text-yellow">responsive</span> web design.</h1>
                <p>Since many consumers now search for information online prior to making a decision, your site may be the 
                    first chance you have at making a good impression on a potential buyer. At the end of 2011 about 245 million people (~80% of population) were 
                    online in the United States and about 10% of all website access was being done through mobile devices. In an interconnected world, 
                    it's more important than ever to have a professional website that looks great on all devices.<p>
            </div>
        </div>
    </div>
    <div class="row pad-top-large pad-bottom-large bkg-blue text-white">
        <div class="wrapper">
            <h2>Keeping it simple for you!</h2>
            <div class="row website-services">
                <div class="col dual">
                    <hr class="basic space-top-small space-bottom-small">
                    <ul class="list-unstyled">
                        <li><strong>Web Design</strong> - Modern, responsive and custom made for you.</li>
                        <li><strong>Website &amp; Email Hosting</strong> - Keep things simple by keeping your host and developer one in the same.</li>
                        <li><strong>SEO</strong> - All site are made with Search Engine Optimization in mind to get you to the top of google.</li>
                        <li><strong>Mobile Support</strong> - We make your site compatible with mobile devices like tablets and smartphones.</li>
                        <li><strong>and more</strong>...</li>
                    </ul>
                </div>
                <div class="col dual responsive-bubble">
                    <img src="/application/storage/images/services-web-design.png" alt="Web Design by Tech Source" class="row">
                </div>
            </div>
        </div>
    </div>
    <div class="row pad-top-large pad-bottom-large">
        <div class="wrapper">
            <div class="row">
                <div class="col dual">
                    <h3 class="pad-bottom-small text-blue">Why Should I Have a Website?</h3>
                    <p class="pad-bottom-small"><strong>Q:</strong> My business is very small, just me and two employees, and our product really can't be sold online. Do I really need a website?</p>
                    <p class="pad-bottom-small"><strong>A:</strong> Yes, if you have a business, you should have a website. Period. No question. Without a doubt.</p>
                    <p><strong>Your website is a full-color advertisements that runs 24 hours a day, 7 days a week!</strong> You get to present yourself and your services to your customers using many descriptive pages, images, interactive elements, etc. This tends to build peoples' trust, which in turn, makes them more likely to purchase your products and services.</p>
                </div>
                <div class="col dual">
                    <h4 class="pad-bottom-small text-blue">Do I Need a Web Developer?</h4>
                    <p class="pad-bottom-small">It's not enough that you just have a website. You must have a "professional-looking" site to be taken seriously. Since many consumers now search for information online prior to making a decision, <strong>your site may be the first chance you have at making a good first impression</strong> on a potential buyer.</p> 
                    <p>There are more important aspects to web design than creating a pleasing visual look. Usability, SEO(Search Engine Optimization) and security can set apart websites that return their invesment and those that don't. That is why we don't recommend any do it yourself site builders. You limit yourself and surrender flexibility and total control in exchange for initial ease-of-use.</p>
                </div>
                <hr class="basic space-top-small space-bottom-small">
                <div class="row">
                    <h5 class="pad-bottom-small text-blue">Don't get locked into a web host</h5>
                    <p>When you use a DIY site builder you may become locked into their hosting service. Not to mention THEY OWN YOUR WEBSITE. The template and graphics used by the builder were copyrighted, and licensed to them. This means if you find a cheaper host you wont be able to migrate your website
                    because it belongs to them. It's your website and it has your company name on it. You should be in complete control of your own files. This is the biggest problem of all. If the hosting company deteriorates, or unreasonably increases their rates, or even goes out of business, your website and your business will be held hostage.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row pad-top-large pad-bottom-large bkg-beige">
        <div class="wrapper">
            <div class="row">
                <div class="col triple site-box">
                    <img src="/application/storage/images/demo/acelandsurvey.jpg" alt="Aceland Survey" class="row">
                    <div class="site-info">
                        <a href="/application/storage/images/demo/acelandsurvey.jpg" data-lightbox="acelandsurvey" data-title="acelandsurvey.com">Example</a>
                        <hr>
                        <a href="http://acelandsurvey.com" target="blank_">Visit</a>
                    </div>
                </div>
                <div class="col triple site-box">
                    <img src="/application/storage/images/demo/adhira.jpg" alt="adhira" class="row">
                    <div class="site-info">
                        <a href="/application/storage/images/demo/adhira.jpg" data-lightbox="adhira" data-title="www.shopadhira.com">Example</a>
                        <hr>
                        <a href="http://shopadhira.com" target="blank_">Visit</a>
                    </div>
                </div>
                 <div class="col triple site-box">
                    <img src="/application/storage/images/demo/ballpointmachinist.jpg" alt="ballpointmachinist" class="row">
                    <div class="site-info">
                        <a href="/application/storage/images/demo/ballpointmachinist.jpg" data-lightbox="ballpointmachinist" data-title="ballpointmachinist.com">Example</a>
                        <hr>
                        <a href="http://ballpointmachinist.com" target="blank_">Visit</a>
                    </div>
                </div>
                <div class="col triple site-box">
                    <img src="/application/storage/images/demo/goodfellas.jpg" alt="Goodfella Gaming" class="row">
                    <div class="site-info">
                        <a href="/application/storage/images/demo/goodfellas.jpg" data-lightbox="goodfellas.jpg" data-title="www.goodfella-gaming.com">Example</a>
                        <hr>
                        <a href="http://goodfella-gaming.com" target="blank_">Visit</a>
                    </div>
                </div>
                <div class="col triple site-box">
                    <img src="/application/storage/images/demo/kathy.jpg" alt="Kathy Boast" class="row">
                    <div class="site-info">
                        <a href="/application/storage/images/demo/kathy.jpg" data-lightbox="kathy.jpg" data-title="www.kathyboast.com">Example</a>
                        <hr>
                        <a href="http://kathyboast.com" target="blank_">Visit</a>
                    </div>
                </div>
                <div class="col triple site-box">
                    <img src="/application/storage/images/demo/tci.jpg" alt="Hawaii PBX" class="row">
                    <div class="site-info">
                        <a href="/application/storage/images/demo/tci.jpg" data-lightbox="tci.jpg" data-title="hawaiipbx">Example</a>
                        <hr>
                        <a href="http://hawaiipbx.com" target="blank_">Visit</a>
                    </div>
                </div>
                <div class="col triple site-box">
                    <img src="/application/storage/images/demo/wps.jpg" alt="Web Port Scanner" class="row">
                    <div class="site-info">
                        <a href="/application/storage/images/demo/wps.jpg" data-lightbox="wps.jpg" data-title="webportscanner">Example</a>
                        <hr>
                        <a href="http://webportscanner.com" target="blank_">Visit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script type="text/javascript" src="/application/views/js/lightbox.js"></script>
<?= $footer; ?>