/**
 * Footer CSS
 *
 * All footer css goes here.
*/

.footer {
    position: relative;
    float: left;
    width: 100%;
    padding: 50px 0 10px 0;
    background: rgba(17, 17, 17, 1);
    color: rgba(245, 245, 245, 1);
}

@media only screen and (max-width:1024px) {
    .footer {
        font-size: 13px;
    }
}

.footer span {
    float: left;
    width: 100%;
    margin: 0 0 40px 0;
    letter-spacing: 0.15em;
}

@media only screen and (max-width:736px) {
    .footer span {
        margin: 0 0 20px 0;
    }
}

@media only screen and (max-width:768px) {
    .footer .service-icon {
        width:18px;
        height:18px;
    }
}

.footer-service-list li {
    float: left;
    width: 100%;
    height: 30px;
    padding: 0;
    line-height: 25px;
}

@media only screen and (max-width:768px) {
    .footer-service-list li {
        height: 20px;
        line-height: 15px;
    }
}

.footer-service-list li.divider {
    float: left;
    width: 100%;
    height: 0;
    padding: 0;
    margin: 0 0 10px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.footer-service-list a, .footer-service-list a:visited {
    color: rgba(245, 245, 245, 1);
}

.footer .icon-repair, .footer .icon-help, .footer .icon-backup, .footer .icon-recovery, .footer .icon-wiring, .footer .icon-voip, .footer .icon-design {
    background-size: 18px 18px
}

.service-icon {
    float: left;
    width: 25px;
    height: 25px;
    margin-right: 11px;
}

.icon-repair {
    background: url(../../../images/ico/sl-repair.png) no-repeat 50% 50%;
    background-size: 25px 25px;
}

.icon-help {
    background: url(../../../images/ico/sl-help.png) no-repeat 50% 50%;
    background-size: 25px 25px;
}

.icon-backup {
    background: url(../../../images/ico/sl-backup.png) no-repeat 50% 50%;
    background-size: 25px 25px;
}

.icon-recovery {
    background: url(../../../images/ico/sl-recovery.png) no-repeat 50% 50%;
    background-size: 25px 25px;
}

.icon-wiring {
    background: url(../../../images/ico/sl-rj.png) no-repeat 50% 50%;
    background-size: 25px 25px;
}

.icon-voip {
    background: url(../../../images/ico/sl-voip.png) no-repeat 50% 50%;
    background-size: 25px 25px;
}

.icon-design {
    background: url(../../../images/ico/sl-design.png) no-repeat 50% 50%;
    background-size: 25px 25px;
}

.copyright {
    float: right;
    height: 25px;
    text-align: right;
    font: 11px 'Open Sans';
    color: #ddd;
}

.social-links-list a, .social-links-list i {
    float: left;
}

.icon-techsource {
    display: inline-block;
    min-height: 17px;
    padding: 0 0 0 20px;
    background: url(../../../images/logoMini.png) no-repeat 0 0;
    background-size: 17px 17px;
}