/**
 * Header CSS
 *
 * This header.css file may also include css for the logo and navigation.
*/

.header {
    position: absolute;
    top: 25px;
    width: 100%;
    height: 120px;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.9);
    color: rgba(245, 245, 245, 1);
    -webkit-transition: height .3s ease-in-out;
    -ms-transition: height .3s ease-in-out;
    transition: height .3s ease-in-out;
}

.header.fixed {
    position: fixed;
    top: 0;
    height: 70px;
}

.header-space {
    padding: 85px 0;
}

.header-left {
    float: left;
    width: 50%;
}

.header-right {
    float: right;
    width: 50%;
}

.logo {
    float: left;
    width: 300px;
    height: 33px;
    margin: 30px 0 0 0;
    background: url(../../../images/logo.png) no-repeat left 50%;
    background-size: 300px 33px;
    -webkit-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

@media only screen and (max-width:736px) {
    .logo {
        width: 200px;
        height: 22px;
        margin: 50px 0 0 0;
        background-size: 200px 22px;
    }
}

.logo.fixed {
    height: 30px;
    margin: 20px 0 0 0;
    background-size: 273px 30px;
}

@media only screen and (max-width:736px) {
    .logo.fixed {
        height: 30px;
        margin: 20px 0 0 0;
        background-size: 200px 22px;
    }
}

.logo-text {
    float: left;
    margin: 7px 0 0 0;
    clear: left;
    font-weight: 600;
    -webkit-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

@media only screen and (max-width:736px) {
    .logo-text {
        display: none;
    }
}

.logo-text.fixed {
    visibility: hidden;
    opacity: 0;
}

/**
 * Navigation
 */
.menu-button {
    float: right;
    display: none;
    padding: 10px 30px 0 0;
    color: rgba(255, 255, 255, 1);
    font-size: 24px;
}

@media only screen and (max-width:768px) {
    .menu-button {
        position: absolute;
        top: 0;
        right: 0;
        width: 120px;
        height: 120px;
        display: block;
        padding: 0;
        text-align: center;
        line-height: 120px;
    }
}

@media only screen and (max-width:768px) {
    .menu-button.fixed {
        right: 20px;
        width: 70px;
        height: 70px;
        line-height: 70px;
    }
}

@media only screen and (max-width:320px) {
    .menu-button {
        right: 0px;
        width: 70px;
        height: 120px;
        line-height: 120px;
    }
}

@media only screen and (max-width:768px) {
    .menu-button.fixed {
        right: 0px;
        width: 70px;
        height: 70px;
        line-height: 70px;
    }
}

.nav {
    float: right;
    text-align: center;
    box-shadow: none;
}

@media only screen and (max-width:768px) {
    .nav {
        position: fixed;
        top: 0;
        bottom: 0;
        left: -280px;
        width: 280px;
        -webkit-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
    }

    .nav.active {
        left: 0;
        box-shadow: 10px 0 5px -1px rgba(0, 0, 0, 0.3);
    }
}

@media only screen and (max-width:320px) {
    .nav {
        width: 190px;
    }
}

.nav-main {
    float: left;
    list-style: none;
}

@media only screen and (max-width:768px) {
    .nav-main {
        height: 100%;
        background-color: rgba(0, 0, 0, 0.9);
    }
}

@media only screen and (max-width:736px) {
    .nav-main {
        overflow-y: scroll;
    }
}

.nav-main .nav-toggle {
    float: left;
    width: 15px;
}

.nav-main li {
    position: relative;
    float: left;
}

@media only screen and (max-width:768px) {
    .nav-main li {
        width: 100%;
        margin-top: 5px;
    }
}

.nav-main a, .nav-main a:visited {
    float: left;
    height: 50px;
    padding: 0 20px;
    margin: 35px 3px;
    border-radius: 10px;
    color: rgba(255, 255, 255, 1);
    line-height: 50px;
    -webkit-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.nav-main a.fixed {
    margin: 10px 3px;
}

@media only screen and (max-width:768px) {
    .nav-main a {
        width: 100%;
        margin: 0;
        border-radius: 0;
        text-align: left;
    }
}

@media only screen and (max-width:768px) {
    .nav-main a.fixed {
        width: 100%;
        margin:0;
        border-radius: 0;
        text-align: left;
    }
}

.nav-main a.current {
    background-color: #197dff;
}

.nav-main a:hover, .nav-main a:focus, .nav-main a:active {
    background-color: rgba(255, 255, 255, 0.3);
}

.dropdown-menu {
    position: absolute;
    top: 120px;
    left: 0;
    z-index: 999;
    overflow: hidden;
    max-height: 0px;
    min-width: 220px;
    padding: 0;
    background: rgba(0, 0, 0, 0.9);
    text-align: left;
    -webkit-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.dropdown-menu.fixed {
    top: 70px;
}

@media only screen and (max-width:768px) {
    .dropdown-menu, .dropdown-menu.fixed {
        position: relative;
        top: 0px;
        background: rgba(51, 51, 51, 0.9);
    }
}

.dropdown-menu.active {
    max-height: 500px;
    padding: 5px 0;
}

.dropdown-menu li {
    width: 100% !important;
    padding: 0 5px;
}

.dropdown-menu a, .dropdown-menu a:visited {
    width: 100% !important;
    height: 40px;
    padding: 0 15px;
    margin: 0;
    line-height: 40px;
}

.dropdown-menu a.fixed {
    height: 40px;
    margin: 0;
    line-height: 40px;
}
