/**
 * Theme CSS
 *
 * This is where the unique css for the theme is. This is for very specific css that will
 * be the core of the themes design. Common things like columns, rows and text will be
 * in the (template.css) file.
 */

/* Homepage */
.remote-support .dual {
    width: 75%;
    margin: 0 1% 0 0;
}

.remote-support .dual:nth-child(2n+2) {
    width: 24%;
    margin: 0;
    text-align: center;
}

.remote-support-link, .remote-support-link:visited {
    color: rgba(217, 217, 27, 1);
    font-size: 24px;
    font-weight: 600;
    cursor: pointer;
}

.remote-support-bubble {
    position: relative;
    display: inline-block;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background: url(../../../images/uploads/pages/homepage/817814_remote_support.jpg) no-repeat 50% 50%;
    background-size: 200px 200px;
}

/* Services Pages */
.service-page .wrapper {
    width: 1024px;
}

@media only screen and (max-width:1024px) {
    .service-page .wrapper {
        width: 95%;
    }
}

@media only screen and (max-width:414px) {
    .service-page .wrapper {
        width: 90%;
    }
}

/* Computer Repair page */
@media only screen and (max-width:736px) and (orientation:landscape) {
    .service-page img {
        padding: 0 120px;
    }
}

.computer-repair-content h1 {
    font-size: 50px;
    font-weight: 700;
    font-style: italic;
}

@media only screen and (max-width:768px) {
    .computer-repair-content h1 {
        font-size: 30px;
        font-weight: 700;
        font-style: italic;
    }
}

.computer-repair-content h2 {
    font-size: 32px;
}

.computer-repair-content h3 {
    font-size: 21px;
}

.computer-repair-content h4, .computer-repair-content h5, .computer-repair-content h6 {
    font-size: 28px;
}

@media only screen and (max-width:768px) {
    .computer-repair-content h4, .computer-repair-content h5, .computer-repair-content h6 {
        font-size: 21px;
    }
}

.computer-image {
    padding: 0 60px;
}

@media only screen and (max-width:1024px) {
    .computer-image {
        padding: 0 0 0 40px;
    }
}

@media only screen and (max-width:768px) {
    .computer-image {
        padding: 0;
    }
}

.malware-image {
    padding-right: 100px;
}

@media only screen and (max-width:1024px) {
    .malware-image {
        padding-right: 50px;
    }
}

@media only screen and (max-width:768px) {
    .malware-image {
        padding-right: 0px;
    }
}

.parts-image {
    padding: 0 80px;
}

@media only screen and (max-width:736px) {
    .parts-image {
        padding: 0;
    }
}

.custom-pc-image {
    padding-right: 100px;
}

@media only screen and (max-width:1024px) {
    .custom-pc-image {
        margin-top: 15px;
        padding-right: 60px;
    }
}

@media only screen and (max-width:768px) {
    .custom-pc-image {
        margin-top: 50px;
        padding-right: 30px;
    }
}

@media only screen and (max-width:736px) {
    .custom-pc-image {
        margin-top: 0px;
        padding-right: 20px;
    }
}

.lifesaver {
    width: 50%;
    margin: 0 25%;
}

@media only screen and (max-width:768px) {
    .lifesaver {
        width: 70%;
        margin: 0 15%;
    }
}

@media only screen and (max-width:736px) {
    .lifesaver {
        display: none;
    }
}

.list-style-check li:before {
    color: rgba(25, 125, 225, 1);
}

.backup-highlights .col.triple {
    padding: 0 30px;
}

@media only screen and (max-width:736px) and (orientation:landscape) {
    .backup-highlights img {
        padding: 0 170px;
    }  
}

.bkg-scroll {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
}

.data-recovery-bkg {
    background: url(../../../images/uploads/pages/data_recovery/625845_services_data_recovery3.jpg) no-repeat center top;
}

.data-recovery-content .col.triple {
    padding: 10px 10px 15px 10px;
}

.cabling img {
    float: left;
    width: 175px;
    margin: 0 15px 0 0;
}

.lightwire {
    background: url(../../../images/uploads/pages/network_installations/bkg-network-installations.jpg);
    background-size: 100% 100%;
}

.compare-box {
    padding: 10px 10px 15px 10px;
    background: rgba(245, 245, 245, 1);
    text-align: center;
}

.compare-box ul span {
    float: left;
}

.compare-box li {
    width: 100%;
    padding: 2% 0;
    border-bottom: 1px solid #999;
    text-align: right;
}

@media only screen and (max-width:736px) {
    .compare-box {
        width: 95%;
        margin: 2.5%;
        padding: 1%;
    }

    .compare-box:nth-child(3) {
        margin: 2.5%;
    }
}

.voip-page li {
    margin: 0 0 3px 0;
}

.websites-page h3, .websites-page h4, .websites-page h5 {
    font-size: 24px;
    line-height: 24px;
}

.website-services li {
    margin: 0 0 10px 0;
}

.responsive-bubble {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 50%;
}

.site-box {
    overflow: hidden;
    margin-bottom: 25px;
}

@media only screen and (max-width:736px) and (orientation:landscape) {
    .site-box {
        width: 50% !important;
        margin: 0 25% 25px 25% !important;
    }  
}

@media only screen and (max-width:736px) and (orientation:landscape) {
    .site-box img {
        padding: 0;
    }  
}

.site-box hr {
    margin: 12px 0
}

.site-info {
    position: absolute;
    right: 0;
    bottom: -200px;
    left: 0;
    height: 100%;
    padding: 45px 50px 0 50px;
    background: rgba(0, 0, 0, 0.8);
    color: rgba(255, 255, 255, 1);
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    -webkit-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.site-box:hover .site-info {
    bottom: 0;
}

.site-info a {
    display: block;
}

#map {
    position: relative;
    float: left;
    width: 100%;
    height: 400px;
    margin: 0 0 20px 0;
}

@media only screen and (max-width:736px) {
    #map {
        height: 200px;
    }
}

.map-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
}

.social-links-list li {
    float: left;
    font-size: 20px;
}

.privacy-page p {
    margin: 0 0 20px 0;
}

.arrow-wrapper {
    position: relative;
    display: block;
    width: 35px;
    height: 35px;
    margin: auto;
    z-index: 888;
}

.arrow {
    display: inline-block;
    width: 35px;
    height: 35px;
    margin: 33px 0 0 0;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

@media only screen and (max-width:736px) {
    .arrow-wrapper {
        width: 25px;
        height: 25px;
    }

    .arrow {
        width: 25px;
        height: 25px;
        margin: -20px 0 0 0;
    }
}

.large-page-greeting {
    position: relative;
    width: 100%;
    height: 600px;
}

@media only screen and (max-width:414px) {
    .large-page-greeting {
        height: 300px;
    }
}

.large-page-greeting-text h1 {
    font-size: 80px;
    line-height: 600px;
}

@media only screen and (max-width:414px) {
    .large-page-greeting-text h1 {
        font-size: 30px;
        line-height: 400px;
    }
}

.support-form {
    padding: 0 120px;
}

@media only screen and (max-width:736px) {
    .support-form {
        padding: 0;
    }
}

@media only screen and (max-width:736px) {
    .hide-on-mobile {
        display: none;
        max-height: 0px;
        max-width: 0px;
    }
}
