<?= $header; ?>
<main class="main activation-page">
    <div class="row pad-top-15 pad-bottom-15">
        <div class="wrapper">
            <?php if ($key): ?>
            <div class="row pad-top-60 pad-bottom-60 activation-required">
                <div class="alert <?= $message['alert']; ?>"><strong><?= $message['alert']; ?>!</strong> <?= $message['message']; ?> <button type="button" class="alert-redirect"><i class="fas fa-times fa-fw"></i></button></div>
            </div>  
            <?php else: ?>
            <div class="row pad-top-60 pad-bottom-60 activation-required">
                <p class="row text-large space-bottom-30 activate-message">This account is not activated. Would you like to <a href="#" class="btn-request" onclick="return false;">request another</a> activation link?</p>  
            </div>
            <?php endif ?>
        </div>
    </div>
</main>
<?= $footer; ?>
<script type="text/javascript">
    
$('body').on('click', '.btn-request', function() {

    Common.showLoader('.activation-page');

    $.ajax({
        url: '/account/send',
        type: 'get',
        success: function(response, status, xhr) {
            if ($.trim(response)) {
                var data = JSON.parse(response);
                $('.activate-message').html('<div class="alert ' + data.alert + '"><strong>' + data.alert + '!</strong> ' + data.message + ' <button type="button" class="alert-close"><i class="fas fa-times fa-fw"></i></button>');
            }
        },
        complete: function() {
            Common.removeLoader();
        }
    });
});

</script>