<?= $header; ?>
<main class="main blog-page">
    <div class="wrapper">
        <div class="row pad-top-large pad-bottom-large">
            <h1>PHPMVC BLOG</h1>  
            <hr class="row space-top-small space-bottom-small">
            <div class="row blog-previews">
                <?php if (empty($blog_posts)): ?>
                <p>There are no blog posts right now.</p>
                <?php else: ?>
                <?php foreach ($blog_posts as $post): ?>
                <div class="row pad-bottom-medium">
                    <div class="blog-column-left">
                        <a href="/blog/<?= $post['id']; ?>/<?= $post['blog_link']; ?>">
                            <div class="preview-image">
                                <?php if ($post['preview_image']): ?>
                                <?= $post['preview_image']; ?>
                                <?php else: ?>
                                <img src="/application/storage/uploads/blog/default_blog.jpg" alt="Blog">
                                <?php endif ?>
                            </div>
                        </a>
                    </div>
                    <div class="blog-column-right">
                        <div class="row blog-info">
                            <span class="pull-left">By:<a href="/profile/<?= $post['author']; ?>"> <?= $post['author']; ?></a></span> <span class="pull-right"><strong><?= $post['date_posted']; ?></strong></span>
                        </div>
                        <div class="row blog-body"> 
                            <?= $post['body']; ?> 
                        </div>
                        <div class="row blog-link">
                            <a href="/blog/<?= $post['id']; ?>/<?= $post['blog_link']; ?>" class="pull-left">Read more</a>
                        </div>
                    </div>
                </div>
                <?php endforeach ?>
                <?php endif ?>
            </div>
        </div>
    </div>
</main>
<?= $footer; ?>