<?= $header; ?>
<main class="main blog-post-page">
    <div class="wrapper">
        <div class="row pad-top-large pad-bottom-large">
            <div class="row pad-bottom-small">
                <span class="pull-left">By:<a href="/profile/<?= $author; ?>"> <?= $author; ?></a></span>
                <span class="pull-right"><em><strong><?= $post_date; ?></strong></em></span>
            </div>
            <div class="custom-content"> 
                <?= $body; ?> 
            </div>
            <div class="row pad-top-medium">
                <a href="/blog">Back</a>
            </div> 
        </div>
    </div>
</main>
<?= $footer; ?>