    <footer class="footer">
        <div class="wrapper">
            <div class="content">
                <div class="col quad">
                    <span>INFORMATION</span>
                    <ul class="list-unstyled row">
                        <li>201 Merchant St. #2430</li>
                        <li>Honolulu, HI 96813</li>
                        <li>(808) 738-2560</li>
                        <li><a href="/contact">Contact Us</a></li>
                    </ul>
                    <hr class="basic row space-top-15 space-bottom-15">
                    <ul class="list-unstyled row">
                        <li><a href="/sitemap">Site Map</a></li>
                        <?php foreach ($links as $link): ?>
                        <?php if ($link['bottom'] && !$link['children']): ?>
                        <li><a href="<?= $link['route']; ?>" class="nav-link <?= $link['class']; ?>"><?= $link['name']; ?></a></li>
                        <?php endif ?>
                        <?php endforeach ?>
                    </ul>
                </div>
                <div class="col quad">
                    <span>SERVICES</span>
                    <ul class="list-unstyled col footer-service-list">
                        <li><div class="service-icon icon-repair"></div><a href="/computer-repair">Computer Repair</a></li>
                        <li class="divider"></li>
                        <li><div class="service-icon icon-help"></div><a href="/help-desk">Help Desk</a></li>
                        <li class="divider"></li>
                        <li><div class="service-icon icon-backup"></div><a href="/managed-backup">Managed Backup</a></li>
                        <li class="divider"></li>
                        <li><div class="service-icon icon-recovery"></div><a href="/data-recovery">Data Recovery</a></li>
                        <li class="divider"></li>
                        <li><div class="service-icon icon-wiring"></div><a href="/network-installations">Network Services</a></li>
                        <li class="divider"></li>
                        <li><div class="service-icon icon-voip"></div><a href="/phone-service">VoIP Phone Service</a></li>
                        <li class="divider"></li>
                        <li><div class="service-icon icon-design"></div><a href="/web-design">Websites &amp; Hosting</a></li>
                        <li class="divider"></li>
                    </ul>
                </div>
                <div class="col quad">
                    <span>RECOURCES</span>
                    <p>All the software listed here is 100% free and recommended by us.</p>
                    <hr class="basic space-top-15 space-bottom-15">
                    <ul class="list-unstyled row">
                        <li><a href="https://www.bitdefender.com" target="blank_">Bit Defender</a></li>
                        <li><a href="https://www.piriform.com/CCLEANER" target="blank_">CCleaner</a></li>
                        <li><a href="https://www.malwarebytes.org" target="blank_">Malwarebytes</a></li>
                        <li><a href="https://www.brightfort.com/spywareblaster.html" target="blank_">SpywareBlaster</a></li>
                        <li><a href="http://www.safer-networking.org" target="blank_">Spybot 2</a></li>
                    </ul>
                </div>
                <div class="col quad">
                    <span>PARTNERS</span>
                    <ul class="list-unstyled row">
                        <li><a href="http://www.yourtechconnection.com" target="blank_">Tech Connection</a></li>
                        <li><a href="http://www.hawaiipbx.com" target="blank_">HawaiiPBX</a></li>
                        <li><a href="http://www.nerdhouse.com" target="blank_">Nerd House</a></li>
                        <li><a href="http://www.kokuapc.com" target="blank_">KokuaPC</a></li>
                        <li><a href="http://www.iehawaii.com" target="blank_">Industrial Electronics</a></li>
                    </ul>
                    <div class="row pad-top-15">
                        <p>Tech Source has made a lot of friends in IT. By Networking with other technology firms, we have created a large resource pool to bring our clients solutions for all their technology needs.</p>
                    </div>
                </div>
                <div class="row pad-top-large">
                    <ul class="social-links-list list-unstyled pull-left">
                        <li><a class="social-links space-right-15" href="https://www.facebook.com/pages/Tech-Source/876350982394670" target="blank_"><i class="fab fa-facebook fa-fw"></i></a></li>  
                        <li><a class="social-links space-right-15" href="https://plus.google.com/b/110672422606023223163/110672422606023223163" rel="publisher" target="blank_"><i class="fab fa-google-plus-square fa-fw"></i></a></li>
                        <li><a class="social-links space-right-15" href="https://instagram.com/tech_source" target="blank_"><i class="fab fa-instagram fa-fw"></i></a></li>
                    </ul>
                    <div class="copyright"><p>Copyright © 2014-2018 Tech Source LLC</p></div>
                </div>
            </div>
        </div>
    </footer>
</body>
<script type="text/javascript">
    
Common.init();
Settings.init();

</script>
</html>