<div class="row header-space"></div>
<main class="main support-page service-page bkg-white">
    <div class="row pad-top-medium pad-bottom-large">
        <div class="wrapper">
            <div class="row">
                <div class="contact-form">
                    <h1 class="pad-bottom-small text-blue">Send Us a Support Request</h1>
                    <form action="" method="post" id="contact-form" class="row form">
                        <div class="row form-row input-border firstname">
                            <label for="firstname" class="label-control">Name</label>
                            <input type="text" name="firstname" id="firstname" required class="row form-control required">
                        </div>
                        <div class="row form-row input-border phone">
                            <label for="phone" class="label-control">Phone</label>
                            <input type="tel" name="phone" id="phone" class="row form-control">
                        </div>
                        <div class="row form-row input-border email">
                            <label for="email" class="label-control">Email</label>
                            <input type="email" name="email" required id="email" class="row form-control required">
                        </div>
                        <div class="row form-row input-border">
                            <label for="message" class="label-control">Message</label>
                            <textarea name="message" required id="message" class="row form-control required"></textarea>
                        </div>
                        <div class="form-row row">
                            <button type="button" id="contact-button" class="btn btn-default pull-right">Send</button>
                        </div>
                    </form>
                </div>
                <div class="arrow-wrapper"><div class="arrow bkg-white"></div></div>
            </div>
        </div>
    </div>
    <div class="row pad-top-large pad-bottom-large bkg-blue text-white hide-on-mobile">
        <div class="wrapper">
            <div class="row remote-support">
                <div class="col dual">
                    <h2>Need Remote Support?</h2>
                    <p class="pad-bottom-small">Some problems are too small or quick and easy to fix. It's just not worth the money or effort to bring your computer into a shop or have a
                    technician come out to your house. It's then that we use remote support.</p>
                    <div class="pad-bottom-small pull-left remote-support-link"><i class="fa fa-life-ring" aria-hidden="true"></i> Click Here For Remote Support</div>
                </div>
                <div class="col dual">
                    <div class="remote-support-bubble remote-support-link"></div>
                </div>
                <script type="text/javascript">
                    $('.remote-support-link').click(function() {
                        if (confirm('Get remote support?')) {
                            window.location.href = 'http://techsourcehawaii.screenconnect.com';
                        }
                    });
                </script>
            </div>
        </div>
    </div>
    <div class="row pad-top-large pad-bottom-large text-center">
        <div class="wrapper">
            <div class="row">
                <h1 class="text-blue">Or Call! 808 738-2560</h1>
            </div>
        </div>
    </div>
</main>
<script type="text/javascript">

$('#contact-form').validator({
    firstnameValid : true,
    emailValid : true,
    phoneValid : true,
});

$('.btn-contact').click(function() {
    $.ajax({
        url: '/contact/validate',
        type: 'POST',
        data: $('#contact-form').serialize(),
        beforeSend: function() {
            $('.main').append(Common.showLoader('/application/storage/images/loading.gif'));
            $('.alert').remove();
        },
        success: function(result) {
            if (typeof(result) !== 'undefined') {
                $('.alert').remove();
                $('.loading').remove();
                $('.contact-form hr').after(result);
            } 
        }
    });
});
$('#contact-form').keypress(function(e) {
    if (e.which == 13) {
        $('.btn-contact').click();
    }
});

</script>