/**
 * Footer CSS
 *
 * All footer css goes here.
*/

.footer {
    float: left;
    width: 100%;
    padding: 20px 0;
    background-color: #edf0f5;
    color: #1c3755;
}

.footer a, .footer a:visited {
    margin-right:10px;
    padding-right:10px;
    border-right:1px solid #1c3755;
    color: #1c3755
}

.footer a:last-child {
    border:none;
}
