/**
 * Forms CSS
 *
 * All form elements will get their style from this file.
 * This file excludes styling for buttons.
 */

label {
    display: inline-block;
    margin: 0 0 3px 0;
    font-size: 13px;
    font-weight: 600;
}

label.required:after {
    margin-left: 3px;
    content: '\f069';
    color: #ff0000;
    font-family: 'Font Awesome 5 Free';
    font-size: 10px
}

input, textarea, select {
    height: 32px;
    padding: 0 15px;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #bbb;
    box-shadow: inset 0 0 5px -1px rgba(0, 0, 0, 0.3);
    color: #777;
    font-family: 'Titillium Web';
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    /*-webkit-appearance: none;*/
    -webkit-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out
}

input[type="checkbox"] {
    
}

input[type="submit"] {
    cursor: pointer;
    letter-spacing: inherit
}

textarea {
    padding: 10px 15px 0 15px;
    min-height: 175px;
    height: auto;
}

select {
    padding: 0px 9px;
    text-indent: 0px;
}

.label-col, .input-col {
    float: left;
}

.label-col label {
    height: 32px;
    line-height: 32px;
}

.show-pw {
    position: absolute;
    top: 50%;
    right: 10px;
    margin: -14px 0 0 0;
    z-index: 777;
    color: #777;
    font-size: 18px;
    cursor: pointer
}

.red-herring {
    position: absolute;
    width: 0;
    height: 0;
    visibility: hidden;
    overflow: hidden
}

.fancy-form label {
    position: absolute;
    top: 5px;
    left: 15px;
    z-index: 100;
    display: initial;
    padding: 0;
    color: #bbb;
    -webkit-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out
}

.fancy-form label:hover {
    cursor: text;
}

.check-col, .number-col {
    width: 35px;
    text-align: center;
}