<table class="list-table">
    <tr>
        <th class="text-center number-col">#</th>
        <th class="text-center check-cell"><input type="checkbox" id="check-all"></th>
        <th class="btn-sort text-center id-col">ID</th>
        <th class="btn-sort">Title</th>
        <th class="btn-sort">Posted</th>
        <th class="btn-sort">Last edit</th>
        <th class="btn-sort">Views</th>
        <th class="btn-sort">Last viewed</th>
        <th class="text-right action">Action</th>
    </tr>
    <?php foreach ($posts as $post): ?>
    <tr class="data-row">
        <td class="text-center number-col"></td>
        <td class="text-center check-cell">
            <input type="checkbox" name="post_check<?= $post['id']; ?>" value="<?= $post['id']; ?>" class="checkbox">
        </td>
        <td class="text-center id-col"><?= $post['id']; ?></td>
        <td style="width:400px; max-width:400px; overflow: hidden;"><a href="/blog/<?= $post['id']; ?>/<?= $post['title']; ?>">(<?= $post['id']; ?>) <?= $post['title']; ?></a></td>
        <td><?= $post['posted']; ?> <em class="text-small">(<?= $post['p_days_ago']; ?>)</em></td>
        <td><?= $post['last_edit']; ?> <em class="text-small">(<?= $post['le_days_ago']; ?>)</em></td>
        <td><?= $post['views']; ?></td>
        <td><?= $post['last_view']; ?> <em class="text-small">(<?= $post['lv_days_ago']; ?>)</em></td>
        <td class="text-right">
            <a href="/admin/blog/<?= $post['id']; ?>/edit" class="btn btn-default btn-small pull-right" title="Edit this blog"><i class="fas fa-pencil-alt fa-fw"></i> Edit</a>
        </td>
    </tr>
    <?php endforeach ?>
</table>
<script type="text/javascript">


</script>