<?= $header; ?>
<main class="main analytics-page">
    <?= $nav; ?>
    <div class="workarea <?= $menu_class; ?>">
        <div class="main-title">
            <?= $breadcrumb; ?>
            <?= $search; ?>
        </div>
        <div class="row main-controls">
            <button type="button" class="btn btn-go btn-analytics"><i class="fas fa-save fa-fw"></i> Save</button>
            <a href="/admin/" class="btn btn-basic pull-right" title="Close"><i class="fas fa-times fa-fw"></i></a>
            <a href="" class="btn btn-basic pull-right" title="Refresh"><i class="fas fa-sync-alt fa-fw"></i></a>
        </div>
        <div class="row main-panel">
            <div class="row panel-content text-left">
                <div class="alert-area"></div>
                <form action="" method="post" id="analytics-form" class="form row">
                    <div class="col space-bottom-15">
                        <label for="code">Google Analytics:</label>
                        <textarea name="code" placeholder="Paste analytics code here. Include ''<script></script>'' tags." id="code" class="row analytics-input"><?= $analytics_code; ?></textarea>
                        <div class="row space-top-15">
                            <div class="row">Example:</div>
                            <pre style="background: #f2f2f2; border:1px solid #aaa; border-radius: 4px; margin-top:25px; color:#777; box-shadow: inset 0 0 2px 2px #ddd;">

    &lt;script async src="https://www.googletagmanager.com/gtag/js?id=UA-1234567-1"&gt;&lt;/script&gt;
    &lt;script&gt;
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-1234567-1');
    &lt;/script&gt;
                            </pre>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
<script type="text/javascript">

$('body').on('click', '.btn-analytics', function() {
    $.ajax({
        url: '/admin/analytics/validate',
        type: 'post',
        data: $('#analytics-form').serialize(),
        success: function(response, status, xhr) {
            console.log(response);
            if ($.trim(response)) {
                var data = JSON.parse(response);
                $('.alert-area').html('<div class="alert ' + data.alert + '"><strong>' + data.alert + '!</strong> ' + data.message + ' <button type="button" class="alert-close"><i class="fas fa-times fa-fw"></i></button>');
            } 
        },
        complete: function() {
            Common.btn.prop('disabled', false).html(Common.btnhtml);
        }
    });
});

</script>
<?= $footer; ?>